// Artsdata Placeholder Color Scheme
// TODO: Replace with official brand colors when available

$link-color: #0066cc;
$btn-primary-color: #0066cc;
$base-button-color: #f7f7f7;

$sidebar-color: #f5f6fa;
$border-color: #e1e4e8;

$body-background-color: $white;
$body-heading-color: #2c3e50;
$body-text-color: #44434d;
$nav-child-link-color: #44434d;

$feedback-color: darken($sidebar-color, 3%);
$table-background-color: $white;
$code-background-color: #f5f6fa;

// Custom accents
$purple-000: #f5f0ff;
$purple-100: #e1d5ff;
$purple-200: #c4a7ff;
$purple-300: #a580ff;
