
<img src="{{ base }}/images/artsdata-architecture-4.svg" alt="test" usemap="#image-map" />
<map name="image-map">
  <area href="{{ base }}/architecture/data-to-rdf.html" alt="Google Spreadsheets & Data-to-RDF" title="Google Spreadsheets & Data-to-RDF" coords="27,49,207,136" shape="rect" target="">
  <area href="{{ base }}/architecture/wringer.html" alt="Wringer" title="Wringer" coords="30,217,97,141,203,178,198,222" shape="poly">
  <area href="{{ base }}/architecture/footlight.html" alt="Footlight" title="Footlight" coords="36,233,192,343" shape="rect">
  <area href="{{ base }}/architecture/artsdata.html" alt="Artsdata Website" title="Artsdata Website" coords="381,66,27" shape="circle">
  <area href="{{ base }}/architecture/image-server.html" alt="Image Server" title="Image Server" coords="437,104,24" shape="circle">
  <area href="{{ base }}/architecture/data-model.html" alt="Data Model" title="Data Model" coords="318,167,25" shape="circle">
  <area href="{{ base }}/architecture/sparql.html" alt="SPARQL federation" title="SPARQL federation" coords="364,138,464,131,469,225,365,178" shape="poly">
  <area href="{{ base }}/architecture/triple-store.html" alt="Triplestore" title="Triplestore" coords="364,237,28" shape="circle">
  <area href="{{ base }}/architecture/graph-store-api.html" alt="Graph-store API" title="Graph-store API" coords="321,287,21" shape="circle">
  <area href="{{ base }}/architecture/query-api.html" alt="Query API" title="Query API" coords="427,309,19" shape="circle">
  <area href="{{ base }}/architecture/data-consumers.html" alt="Data Consumers" title="Data Consumers" coords="584,52,722,310" shape="rect">
</map>