{% include base.html %}
<a onclick="goBack()">&lt;  Back</a> | <a href="{{ base }}/index.html">Home</a> | <a href = "https://github.com/culturecreates/artsdata-data-model/blob/master/{{page.path}}">Edit page</a> | &#x1F64B; <a href="https://github.com/culturecreates/artsdata-data-model/issues?q=is%3Aissue+is%3Aopen+{{ page.class_name }}">Check for open issues</a> | <span id="last-modified"></span> 

{% include last-modified.html %}

<script>
function goBack() {
  window.history.back();
}
</script>
