---
layout: default
---
{% assign class_definition_json = page.class_name | append: '-definition' %}
{% assign class_definition = site.data.generated[class_definition_json].results.bindings[0] %}

{% assign class_equivalent_class_json = page.class_name | append: '-equivalent-class' %}

{% include back-button.html %}



<h1><a href="{{class_definition.label.value | prepend: 'http://schema.org/'}}">{{ page.class_name }}</a></h1>


<p>
    Schema.org definition: {{ class_definition.comment.value}}
</p>

<p>
    Subclass Of: <a href="{{ class_definition.subClassOf.value}}">{{ class_definition.subClassOf.value}} </a> 
</p>

{{ content | markdownify }}

<h2>Properties</h2>

<table>
    <tr>
        <th>Property</th>
        <th>Description</th>
    </tr>
    {% assign class_properties_json = page.class_name | append: '-properties' %}
    {% assign specific_instructions_json = page.class_name | append: '-specific-instructions' %}
    {% for member in site.data.generated[class_properties_json].results.bindings %}
    <tr>
        <td>
           <a href='{{ member.property.value }}'> {{ member.label.value }} </a>
        </td>
        <td>
            {{ member.comment.value }}
            <br>
            <span style="font-size: 0.75rem">from class {{ member.classes.value }}</span> 
            <br>
            {% for instruct in site.data[specific_instructions_json] %}
                {% if  instruct["Schema Property"] ==  member.label.value %}
                    <h5>Artsdata instructions</h5>
                    {{ instruct["Artsdata-specific Note EN"] }}
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
</table>


<a href='#'>More Specific Types</a>
[To do: Generate the subclasses here.]

<h2>Equivalent classes</h2>   

<table>
   <tr>
       <th>Class</th>
       <th>Equivalent Class</th>
   </tr>
   {% for member in site.data.generated[class_equivalent_class_json].results.bindings %} 
   <tr>
       <td> <a href="{{ member.equivalentSub.value }}">{{ member.equivalentSub.value }} </a></td>
       <td>  <a href="{{ member.equivalentObj.value }}">{{ member.equivalentObj.value }} </a> 
        <br>
        <span style="font-size: 0.75rem"> from graph <a href="{{ member.graph.value }}">{{ member.graph.value }} </a></span></td>
   </tr>
   {% endfor %}
</table>
