---
layout: default
---
{% assign class_definition_json = page.class_name | append: '-definition' %}
{% assign class_definition = site.data.generated[class_definition_json].results.bindings[0] %}

{% assign class_equivalent_class_json = page.class_name | append: '-equivalent-class' %}

{% include back-button.html %}



<h1><a href="{{class_definition.label.value | prepend: 'http://schema.org/'}}">{{ page.class_name }}</a></h1>


<p>
    Schema.org definition: {{ class_definition.comment.value}}
</p>

<p>
    Subclass Of: <a href="{{ class_definition.subClassOf.value}}">{{ class_definition.subClassOf.value}} </a> 
</p>

{{ content | markdownify }}



