---
layout: default
---
{% assign class_definition_json = page.class_name | append: '-definition' %}
{% assign class_definition = site.data.generated[class_definition_json].results.bindings[0] %}

{% include back-button.html %}

<h1><a href="{{class_definition.label.value | prepend: 'http://schema.org/'}}">{{ page.class_name }}</a></h1>
<p>
    {{ class_definition.comment.value}}
</p>
<p>
    Equivalent classes:  <a href="{{ class_definition.equivalent.value }}">{{ class_definition.equivalent.value }} </a>
</p>
<p>
    Subclass Of: <a href="{{ class_definition.subClassOf.value}}">{{ class_definition.subClassOf.value}} </a> 
</p>

&#x1F64B; <a href="https://github.com/culturecreates/artsdata-data-model/issues?q=is%3Aissue+is%3Aopen+{{ page.class_name }}">Check for open issues</a>
{{ content | markdownify }}

<h2>Properties</h2>

<table>
    <tr>
        <th>Property</th>
        <th>Description</th>
    </tr>
    {% assign class_properties_json = page.class_name | append: '-properties' %}
    {% for member in site.data.generated[class_properties_json].results.bindings %}
    <tr>
        <td>
           <a href='{{ member.property.value }}'> {{ member.label.value }} </a>
        </td>
        <td>
            {{ member.comment.value }}
            <br>
            From class {{ member.classes.value }}
        </td>
    </tr>
    {% endfor %}
</table>


<a href='#'>More Specific Types</a>
[To do: Generate the subclasses here.]


