---
layout: default
---
{% include back-button.html %}

<h1>{{ page.class_name }}</h1>

{{ content | markdownify }}

<a href='https://github.com/culturecreates/artsdata-data-model/issues/new/choose'>Open an issue</a>


<h2>Properties</h2>

<table>
    <tr>
        <th>Property</th>
        <th>Description</th>
    </tr>
    {% for member in site.data.generated[page.class_name].results.bindings %}
    <tr>
        <td>
           <a href='{{ member.property.value }}'> {{ member.label.value }} </a>
        </td>
        <td>
            {{ member.comment.value }}
        </td>
    </tr>
    {% endfor %}
</table>


<a href='#'>More Specific Types</a>
[To do: Add the subclasses here.]


