name: Push Ontology file
on:
  workflow_dispatch:
    inputs:
      artifact:
        description: 'Artifact name to use in the workflow'
        required: true
        default: 'skos-file-name'
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Set current date as output
        id: version  # this is used on variable path
        run: echo "dumpdate=$(date +'%Y-%m-%dT%H-%M-%S')" >> $GITHUB_OUTPUT
      - name: Call Artsdata Databus
        run: |
          curl \
          -H 'Content-Type: application/json' \
          -X POST http://api.artsdata.ca/databus/  \
          --data '{ "artifact": "${{ github.event.inputs.artifact }}",
                    "comment": "Made by hand in Turtle format",
                    "publisher": "${{ secrets.PUBLISHER_URI_GREGORY }}",
                    "group": "${{ github.event.repository.name }}",
                    "version": "${{ steps.version.outputs.dumpdate }}",
                    "downloadUrl": "https://raw.githubusercontent.com/culturecreates/artsdata-data-model/master/ontology/${{ github.event.inputs.artifact }}.ttl",
                    "downloadFile": "${{ github.event.inputs.artifact }}.ttl",
                    "shacl": "artsdata"
                  }'    